.video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    .video__comment {
        padding: 10px;
        background-color: white;
        color: black;
        .commentText {
            margin-left: 5px;
        }
    }
}