extends base.pug

block content 
    //- video(src="/" + video.fileUrl, controls)
    div#videoContainer
        div 
            video(src="https://serranoarevalo.github.io/notflix/9bfd1023900e31286103369c803c7ee9.ogv" width="700px")
            button#play Play 
            button#mute Mute 
            input(type="range" value="0.5" min="0" max="1" step="0.1")#volume
            div 
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            div
                input(type="range" value="0" min="0" step="1")#timeline
            div 
                button#fullScreen Enter Full Screen
        
    //- div
    //-     p=video.description
    //-     small=video.createdAt
    //- a(href=`${video.id}/edit`) Edit Video &rarr;
    //- br
    //- a(href=`${video.id}/delete`) Delete Video &rarr;

block scripts 
    script(src="/static/js/videoPlayer.js")